@charset "UTF-8";
@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    word-spacing: 0px;
    word-wrap: break-word; 
    font-family: 'poppins', Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0px;
    min-height: 100vh;
    overflow-y: auto;
}
/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #41625a;
}
.div_container_header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 600px;
}
/* Affiliate */
.sec_header_affiliate {
    display: flex;
    flex-direction: column;
    width: 1180px;
}
.div_header_affiliate {
    display: flex;
}
.div_affiliate {
    display: flex;
    padding: 30px;
}
/* Welcome */
.sec_header_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ECE8CF;
}
.div_header_img {
    display: flex;
    height: 400px;
    overflow: hidden;
    
}
/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
}
.div_container_main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: 100%;
    margin-top: 100px;
}
.sec_products_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1179px;
    height: auto;
}
/* Box Categories */
.box_categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px, solid, rgba(0, 0, 0, 0.315);
    height: max-content;
    color: #19292e;
    width: 20%;
}
.div_categories_option {
    background-color:  #ECE8CF;
    padding: 10px;
    font-weight: bold;
}
.div_categories_description {
    background-color: white;
    width: max-content;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 7px;
    font-weight: lighter;
}
.div_categories_description p:hover {
    color: blue;
}
a {
    text-decoration: none;
    color: #5593A4;
}
/* Box Product */
.box_products {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
}
.product_box {
    display: flex;
    border: 1px, solid, rgba(0, 0, 0, 0.315);
    padding: 10px;
    height: max-content;
    margin: 8px;
    margin-top: 0px;
    color: black;
}
.div_product_description_box {
    display: flex;
    flex-direction: row;
}
/* Box IMG Product */
.div_product_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    overflow: hidden;
}
/* Box Product description */
.div_product_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
h2 {
    font-weight: lighter;
}
.div_p_description {
    margin-top: 10px;
    font-weight: 100;
}
/* Box stars */
.div_stars {
    margin-top: 20px;
}
/* Box selos */
.div_selos {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.img_selos {
    margin-left: 10px;
}
/* Box price */
.div_product_price {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
}
h3 {
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}
h4 {display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: lighter;
    margin-top: 20px;
}
.p_price {
    display: flex;
    justify-content: center;
}
h5 {
    display: flex;
    justify-content: center;
}
.go_official_site {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EB853C;
    color: white;
    height: 50px;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 30px;
    transition: transform .2s ease;
}
.go_official_site:hover {
    color: #c5edf8;
    transform: scale(1.03);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.473); 
    color: white;
    width: 100%;
    height: auto;
    margin-top: 200px;
}
.container_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    padding: 20px;
}
.div_footer_one {
    display: flex;
    font-size: 1em;
}
.div_footer_two {
    display: flex;
    font-size: 1em;
}
footer p {
    padding: 20px;
}
/* Media Query para telas menores (até 768px) */
@media (max-width: 768px) {
    /* MAIN */
    .div_container_main{
        background-image: url(/imagens/index/onandodigital_mobile.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(0, 0, 0, 0);
        background-blend-mode: multiply;
    }
    /* SECTION FOOTER */
    .container_footer {
        font-size: 0.8em;
        margin-top: 0px;
        margin-bottom: 15px;
    }
}
@media (min-width: 769px) and (max-width: 1179px) {
    /* MAIN */
    .div_container_main{
        background-image: url(/imagens/index/onandodigital_tablet.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(0, 0, 0, 0);
        background-blend-mode: multiply;
    }

    
    /* SECTION FOOTER */
    
    
}